@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: Arimo;
    box-sizing: border-box; 
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(61, 226, 83)
}
/* ---- EDIT CSS ---- */
.logo {
    color: rgb(231, 231, 231); 
}

.nav-links {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none; 
}

.nav-links a {
    text-decoration: none;
    color: rgb(231, 231, 231); 
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(231, 231, 231);
    margin: 5px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* ---- EDIT CSS ---- */
@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
   .nav-links {
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 8vh;
       background-color: rgb(61, 226, 83);
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 75%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
   }
   .nav-links li {
       opacity: 0;
   }
   .burger {
       display: block;
   }
}
   .nav-active {
       transform: translateX(0%); 
   }
   @keyframes navlinkFade {
       from{
           opacity: 0;
           transform: translateX(50px);
       }
       to{
           opacity: 1;
           transform: translateX(0px);

       }
   }
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
       opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);   
}
